body{
    background-image: url(fogueira.jpg);
    font-size: 15px;
    background-color: rgb(8, 20, 8);
    background-repeat: no-repeat;
    color: antiquewhite;
}

h1{
    color: white;
    background-color: black;
    text-align: center;
}