body{
    font-size: 18px;
    background-color: #0D0D0D;
    color: #F2BA52;
    margin: 30px;
    border: solid 1px #F29441;
    padding: 30px;
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: white;
    background-color: black;
    text-align: center;
}

#fogueira{
    text-align: center;
}