body{
    font-size: 15px;
    background-image: linear-gradient(rgb(8, 20, 8), rgb(126, 153, 126));
    background-repeat: no-repeat;
    color: antiquewhite;
    margin: 30px;
    border: solid 4px yellow;
    padding: 30px;
    font-family: 'Quicksand', sans-serif;
}

h1{
    color: white;
    background-color: black;
    text-align: center;
}