body{
    background-image: url(fogueira.jpg);
    font-size: 15px;
    background-color: green;
    background-repeat: no-repeat;
}

h1{
    color: white;
    background-color: black;
    text-align: center;
}